<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">

    <title>Dashboard</title>
</head>
<body>
    <div class="Seller">
        <div class="seller-cont">
            <div class="header">
                <div class="avatar"><img src="avatar.jpg" alt=""></div>
                <h3> Hi <%= dash %></h3>
            </div>
            <!-- <ul>
            
                
                    <% for(var i=0;i<hash.length;i++){ %>
                        <li>
                            <h3><%=hash[i].Product%></h3>
                            <h3><%=hash[i].Prize%></h3>
                        </li>
                    <%}%>
    
            </ul> -->
                <ul>
                    
                    <li>
                        <img src="img1.jpg" alt="">
                        <h3>Samsung s25</h3>
                        <h4>Price: Rs 12345</h4>
                    </li>
                    <li>
                        <img src="https://assets.tatacliq.com/medias/sys_master/images/33131150409758.jpg" alt="">
                        <h3>IPhone 13</h3>
                        <h3>Price: Rs 12345</h3>
                    </li>
                    <li>
                        <img src="https://images.ctfassets.net/wcfotm6rrl7u/6NOZ30XSJo0b7u8hHBPWmy/4ce6d8f845063b84e3bdad5fb71a14f2/nokia-C31-charcoal-front_back-int.png" alt="">
                        <h3>Samsung s25</h3>
                        <h4>Price: Rs 12345</h4>
                    </li>
                    
                    
                    <li class="upload" onclick="document.location='sellerupload.html'"><div class="text">+</div></li>
                </ul>
        </div>
    </div>
</body>
</html>